.addstudent__container {
    position: fixed;
    margin-top: 20vh;
    margin-left: 20vw;
    min-height: 80vh;
    min-width: 80vw;
    background: #999;
}

.add-student {
    flex: 2;
    background: white;
    min-height: 60vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    padding:0 1.5rem;
    border-radius: 0.5rem;

}

.add-student > table {
    padding: 1.5rem;
}

.parent-btn{
        width: 150px;
        padding: 10px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
}

.left {
    flex: 1;
    text-align: center;
}

.left > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.right {
    flex: 2;
}

.right > form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.formInput {
    width: 40%;
}

.formInput > label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formInput > .icon {
    cursor: pointer;
  }

.formInput > input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
  }

.parent-btn:disabled{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 128, 128, 0.329)(0, 128, 128, 0.521);
    color: white;
    font-weight: bold;
    cursor: none;
    margin-top: 20px;
}
